/CategoryImpl.java
/ContainerImpl.java
/DefectrFactoryImpl.java
/DefectrPackageImpl.java
/EpisodeImpl.java
/FeedImageImpl.java
/FeedImpl.java
/LinkImpl.java
/MediaLinkImpl.java
/PersonImpl.java
/TimeIntervalImpl.java
