/Category.java
/Container.java
/DefectrFactory.java
/DefectrPackage.java
/Episode.java
/Feed.java
/FeedImage.java
/Link.java
/LinkRelation.java
/MediaLink.java
/Person.java
/TimeInterval.java
/TimeIntervalType.java
